# Análise exploratória

## Obtenção e carregamento de dados

In [77]:
#importação de bibliotecas
import pandas as pd

In [78]:
# Importação dos dados
df_dataset_cleaned = pd.read_csv('../Data/data_cleaned.csv', sep=';', encoding='utf-8-sig')

# Carregar dicionário de dados
df_dictionary = pd.read_csv("../Data/dictionary.csv", encoding="ISO-8859-1", sep=";", on_bad_lines='skip')

C:\Users\Marlos Piccinelli\AppData\Local\Temp\ipykernel_34300\146754207.py:2: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dataset_cleaned = pd.read_csv('../Data/data_cleaned.csv', sep=';', encoding='utf-8-sig')

## Informações sobre o dataset

In [79]:
#Exibir informações sobre o dataframe
df_dataset_cleaned.info()

#Exibir as primeiras linhas do dataframe
df_dataset_cleaned.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10311 entries, 0 to 10310
Columns: 212 entries, Country to problem_case
dtypes: float64(32), int64(168), object(12)
memory usage: 16.7+ MB

,A1_informed_consent,D1_birth_year,D2_sex,D7_marital_status,D8_1_children_0_3,D8_2_children_4_6,D8_3_children_7_11,D8_4_children_12_17,D9_completed_highschool,D9_1_1_attended_college,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
count,10311.0,10311.000000,10311.000000,10311.000000,8075.000000,7470.000000,7729.000000,7804.000000,10311.0,10311.000000,...,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,7122.000000,10311.000000
mean,1.0,1988.692949,0.501988,1.439143,0.179690,0.162517,0.269116,0.344182,1.0,0.998836,...,3.736301,3.786636,3.857337,3.759189,3.764038,3.746678,3.887402,1.217341,0.411682,0.054990
std,0.0,13.117043,0.500020,0.608823,0.484369,0.509740,0.780209,1.315603,0.0,0.034096,...,1.755026,1.740893,1.746970,1.732193,1.736829,1.790652,1.747168,1.373786,0.492173,0.227971
min,1.0,1945.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.0,1981.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000
50%,1.0,1992.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000,0.000000,0.000000
75%,1.0,1999.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000,1.000000,0.000000
max,1.0,2005.000000,1.000000,4.000000,10.000000,12.000000,15.000000,43.000000,1.0,1.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,9.000000,1.000000,1.000000

## Visualização inicial dos dados

In [80]:
#Exibir as primeiras linhas do dataframe
df_dataset_cleaned.head()

,Country,survey_Id,A1_informed_consent,D1_birth_year,D1_1_range,D2_sex,D3_gender,D4_ethnic_group,D5_state,D6_county,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
0,Bolivia,BOL00001,1,1972,1965-1980,0,Masculino,Mestizo(a),Cochabamba,NaN,...,2,2,2,2,2,2,2,1,NaN,0
1,Bolivia,BOL00002,1,1975,1965-1980,0,Masculino,Mestizo(a),Santa Cruz,NaN,...,7,6,7,6,6,7,5,1,NaN,0
2,Bolivia,BOL00003,1,1980,1965-1980,0,Masculino,Mestizo(a),La Paz,El Alto,...,2,2,2,2,2,2,6,1,NaN,0
3,Bolivia,BOL00004,1,1995,1981-1996,1,Femenino,Mestizo(a),La Paz,El Alto,...,5,5,5,5,5,6,5,1,NaN,0
4,Bolivia,BOL00005,1,1972,1965-1980,1,Femenino,Indígena,La Paz,El Alto,...,6,6,6,6,6,6,6,1,NaN,0

## Definição de índices

In [81]:
# Colocar a coluna 'survey_Id' na primeira posição
df_dataset_cleaned = df_dataset_cleaned[['survey_Id'] + [col for col in df_dataset_cleaned.columns if col != 'survey_Id']]

# Definir o índice do dataframe como a coluna 'survey_Id'
df_dataset_cleaned.set_index('survey_Id', inplace=True)

# Exibir as primeiras linhas do dataframe
df_dataset_cleaned.head()

,Country,A1_informed_consent,D1_birth_year,D1_1_range,D2_sex,D3_gender,D4_ethnic_group,D5_state,D6_county,D7_marital_status,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
survey_Id,,,,,,,,,,,,,,,,,,,,,
BOL00001,Bolivia,1,1972,1965-1980,0,Masculino,Mestizo(a),Cochabamba,NaN,2,...,2,2,2,2,2,2,2,1,NaN,0
BOL00002,Bolivia,1,1975,1965-1980,0,Masculino,Mestizo(a),Santa Cruz,NaN,2,...,7,6,7,6,6,7,5,1,NaN,0
BOL00003,Bolivia,1,1980,1965-1980,0,Masculino,Mestizo(a),La Paz,El Alto,2,...,2,2,2,2,2,2,6,1,NaN,0
BOL00004,Bolivia,1,1995,1981-1996,1,Femenino,Mestizo(a),La Paz,El Alto,1,...,5,5,5,5,5,6,5,1,NaN,0
BOL00005,Bolivia,1,1972,1965-1980,1,Femenino,Indígena,La Paz,El Alto,1,...,6,6,6,6,6,6,6,1,NaN,0

## Conversão de tipos

In [82]:
# Criar dicionário de tipos com base no dicionário de dados
tipos_pandas = {}

# Mapear os tipos com base na coluna Type do dicionário
for _, row in df_dictionary.iterrows():
    var = row["Variable"]
    tipo = str(row["Type"]).strip().lower()

    if pd.isna(var) or var == "" or var not in df_dataset_cleaned.columns:
        continue  # Ignorar se não estiver no dataset

    if tipo.startswith("text"):
        tipos_pandas[var] = "object"
    else:
        tipos_pandas[var] = "Int64"

# Tentar aplicar os tipos com segurança
df = df_dataset_cleaned.copy()

for coluna, tipo in tipos_pandas.items():
    try:
       df[coluna] =df[coluna].astype(tipo)
    except Exception as e:
        print(f"⚠️ Falha ao converter '{coluna}' para {tipo}: {e}")

# Verificar se há colunas com tipo 'int64' que podem ser convertidas para 'Int64'
colunas_int64 = df.select_dtypes(include="int64").columns.tolist()

# Converter colunas 'int64' para 'Int64' (nullable integer type)
df[colunas_int64] = df[colunas_int64].astype("Int64")

#Exibir informações sobre o dataframe
df.info()

# Exibir as primeiras linhas do dataframe
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 10311 entries, BOL00001 to PER10311
Columns: 211 entries, Country to problem_case
dtypes: Int64(188), object(23)
memory usage: 18.5+ MB

,Country,A1_informed_consent,D1_birth_year,D1_1_range,D2_sex,D3_gender,D4_ethnic_group,D5_state,D6_county,D7_marital_status,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
survey_Id,,,,,,,,,,,,,,,,,,,,,
BOL00001,Bolivia,1,1972,1965-1980,0,Masculino,Mestizo(a),Cochabamba,NaN,2,...,2,2,2,2,2,2,2,1,<NA>,0
BOL00002,Bolivia,1,1975,1965-1980,0,Masculino,Mestizo(a),Santa Cruz,NaN,2,...,7,6,7,6,6,7,5,1,<NA>,0
BOL00003,Bolivia,1,1980,1965-1980,0,Masculino,Mestizo(a),La Paz,El Alto,2,...,2,2,2,2,2,2,6,1,<NA>,0
BOL00004,Bolivia,1,1995,1981-1996,1,Femenino,Mestizo(a),La Paz,El Alto,1,...,5,5,5,5,5,6,5,1,<NA>,0
BOL00005,Bolivia,1,1972,1965-1980,1,Femenino,Indígena,La Paz,El Alto,1,...,6,6,6,6,6,6,6,1,<NA>,0