# Análise exploratória

## Obtenção e carregamento de dados

In [1]:
#importação de bibliotecas
import pandas as pd

In [2]:
# Importação dos dados
df = pd.read_csv('../Data/data_cleaned.csv', sep=';', encoding='utf-8-sig')

C:\Users\Marlos Piccinelli\AppData\Local\Temp\ipykernel_32944\4212649130.py:2: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/data_cleaned.csv', sep=';', encoding='utf-8-sig')

## Informações sobre o dataset

In [3]:
#Exibir informações sobre o dataframe
df.info()

#Exibir as primeiras linhas do dataframe
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10311 entries, 0 to 10310
Columns: 218 entries, survey_Id to problem_case
dtypes: float64(32), int64(168), object(18)
memory usage: 17.1+ MB

,A1_informed_consent,D1_birth_year,D2_sex,D7_marital_status,D8_1_children_0_3,D8_2_children_4_6,D8_3_children_7_11,D8_4_children_12_17,D9_completed_highschool,D9_1_1_attended_college,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
count,10311.0,10311.000000,10311.000000,10311.000000,8075.000000,7470.000000,7729.000000,7804.000000,10311.0,10311.000000,...,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,10311.000000,7122.000000,10311.000000
mean,1.0,1988.692949,0.501988,1.439143,0.179690,0.162517,0.269116,0.344182,1.0,0.998836,...,3.736301,3.786636,3.857337,3.759189,3.764038,3.746678,3.887402,1.217341,0.411682,0.054990
std,0.0,13.117043,0.500020,0.608823,0.484369,0.509740,0.780209,1.315603,0.0,0.034096,...,1.755026,1.740893,1.746970,1.732193,1.736829,1.790652,1.747168,1.373786,0.492173,0.227971
min,1.0,1945.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.0,1981.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000
50%,1.0,1992.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000,0.000000,0.000000
75%,1.0,1999.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000,1.000000,0.000000
max,1.0,2005.000000,1.000000,4.000000,10.000000,12.000000,15.000000,43.000000,1.0,1.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,9.000000,1.000000,1.000000

## Visualização dos dados

In [4]:
#Exibir as primeiras linhas do dataframe
df.head()

,survey_Id,Country,A1_informed_consent,D1_birth_year,D1_1_range,D2_sex,D3_gender,D4_ethnic_group_bol,D4_ethnic_group_per,D4_ethnic_group_bra,...,G5_05_barriers,G5_06_barriers,G5_07_barriers,G5_08_barriers,G5_09_barriers,G5_10_barriers,G5_11_barriers,G6_open_data_importance,G7_IT_area,problem_case
0,BOL00001,Bolivia,1,1972,1965-1980,0,Masculino,Mestizo(a),NaN,NaN,...,2,2,2,2,2,2,2,1,NaN,0
1,BOL00002,Bolivia,1,1975,1965-1980,0,Masculino,Mestizo(a),NaN,NaN,...,7,6,7,6,6,7,5,1,NaN,0
2,BOL00003,Bolivia,1,1980,1965-1980,0,Masculino,Mestizo(a),NaN,NaN,...,2,2,2,2,2,2,6,1,NaN,0
3,BOL00004,Bolivia,1,1995,1981-1996,1,Femenino,Mestizo(a),NaN,NaN,...,5,5,5,5,5,6,5,1,NaN,0
4,BOL00005,Bolivia,1,1972,1965-1980,1,Femenino,Aymara,NaN,NaN,...,6,6,6,6,6,6,6,1,NaN,0